.business-card {
    border: 1px solid #56a856;
    background-color: #56a856;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 700px;
    padding: 30px;
    margin: 60px auto;
    border-radius: 10px;
}
.business-card-heading, .business-card-btn {
    width: 200px;
    color: black;
    font-weight: 700;
}

.business-card-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size:16px;
    font-weight: 600;
    background-color: white;
    margin-bottom: 20px;
}

.profile-card {    
    border: 1px solid lightgrey;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;    
    border-radius: 10px;
    margin: 60px auto;
}

.profile-card-txt {
    color: #838383;
}

.profile-card-body, .profile-card-footer {
    padding: 30px;
}   

.profile-divider {
    border-top: 1px solid lightgray;
}

.profile-img {
    width: 15%;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 20px 20px  0px 90px;
}

.profile-card-footer a{
    text-decoration: none;
}

.subscription-card {    
    border: 1px solid lightgrey;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;    
    border-radius: 10px;
    margin: 60px auto;
    border-radius: 10px;
}

.subscription-card-txt {
    font-size: 14px;
    color: #838383;
    text-align: justify;
}
.subscription-card-body {
    padding: 20px;
}

.subscription-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subscription-lock-img {
    height: 17px;
    padding-right: 2px;
    vertical-align: text-top;
}

.subscription-card-btn {
    padding: 15px 30px;
    border: 1px solid lightgrey;
    font-size:16px;
    font-weight: 600;
    background-color: white;
    margin-bottom: 20px;
    color:blue;
    font-weight: 300;
    margin-top:20px
}

.login-card {
    width: 400px;
    margin:20px auto;
    text-align: center;
}

.login-logo {
    height: 120px;
}

.logo-input {
    margin: 15px 30px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #e23744;
    border-radius: 10px;
    
}

.logo-input::placeholder {
    color:#e2374596;
}

.login-card-heading {
    color:#e23744;
}

.login-card-btn {
    margin: 15px 30px;
    padding: 15px;
    border: 1px solid #e23744;
    color: #fff;
    background-color: #e23744;
}

.logo-link {
    color: #e23744;
    text-decoration: none;
    cursor: pointer; 
    padding-left: 2px;
    font-size: 16px;
}

.login-card-txt {
    font-size: 14px;
}
